{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="/css/crudPhoto.css" rel="stylesheet">
{% endblock %}
{% block title %}Photo index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Photo index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for photo in photos %}
                <tr>
                    <td>{{ photo.id }}</td>
                    <td>{{ photo.name }}</td>
                    <td>
                        <a href="{{ path('photo_show', {'id': photo.id}) }}">Voir</a>
                        <a href="{{ path('photo_edit', {'id': photo.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun résultat trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('photo_new') }}">Ajouter une nouvelle photo</a>
    </div>
{% endblock %}
