{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block stylesheets %}
    <link href="/css/comment.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <h1>Post</h1>

    {# Affichage des posts (tricks) #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ post.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ post.photo }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>{% for photo in post.photos %}
                        {{ photo.name }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{% for video in post.videos %}
                        {{ video.name }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {# Formulaire pour le commentaire #}
    {{ form_start(form, {'action': path('comment_new')}) }}
    {{ form_widget(form.content ) }}
    {{ form_widget(form.postId, {'value' : post.id} ) }}
    {{ form_end(form) }}

    {# Affichage des commentaires #}
    {% for comment in comments %}
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="card card-white post">
                        <div class="post-heading">
                            <div class="float-left image">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="float-left meta">
                                <div class="title h5">
                                    <a href="#"><b>{{ app.user.username }}</b></a>
                                    a publié un commentaire.
                                </div>
                                <h6 class="text-muted time">{{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>{{ comment.content }}</p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                                <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'slug': post.slug}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}

    {# On crée une boucle qui va de 0 au nombre de pages (total commentaires /limit commentaires) #}
    {% if pages > 0 %}
        {% for i in 0 .. pages %}
            <a href="{{ path('post_show_with_parameter_commentary', {'slug': post.slug, 'page': i}) }}">{{ i+1 }}</a>
            {# Si il y a un nombre de commentaires impairs, on crée une dernière page #}
            {# if (totalComments % limitComments > 0) and (i == (totalComments % limitComments) + 1) #}
                <!--<a href="{# path('post_show_with_parameter_commentary', {'slug': post.slug, 'page': i + 1}) }}">{{ i + 1 #}</a>!-->
            {# endif #}
        {% endfor %}
    {% endif %}
{% endblock %}
