{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block stylesheets %}
    <link href="/css/post.css" rel="stylesheet">
    <link href="/css/comment.css" rel="stylesheet">
    <link href="/css/singlePost.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <h1>Post</h1>


    {# Affichage du post (trick) #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="{{ asset('uploads/photos/' ~ post.photo) }}" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">Figure numéro {{ post.id }}</a></h2>
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Wikipedia</a>
                                    </li>
                                </ul>
                                
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Nom</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ post.name}}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Description</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ post.description }}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Photo principale</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ post.photo }}
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        
                                       
                                        {# photos pour un seul trick #}
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Photos du trick</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {% for photo in post.photos %}
                                                    {{ photo.name }} <br/>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <hr/>
                                        <div class="row">
                                            {# videos pour un seul trick #}
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Videos du trick</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {% for video in post.videos %}
                                                    <a href="{{ video.name }}">{{ video.name }}</a> <br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                       

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Date de publication</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                       <a href="https://fr.wikipedia.org/wiki/Snowboard_freestyle#Les_types_de_tricks">Lien vers les tricks</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex container">

        {# Affichage des photos #}
        <div class="row">
            {% for photo in photos %}
                <div class="col-md-4 col-sm-12 mb-3">
                    <img src="{{ asset('uploads/photos/' ~ photo.name) }}" />
                </div>
            {% endfor %} 
        </div>
       

        {# Affichage des videos #}
        <div class="ml-5 row">
            {% for video in videos %}
            <div class="col-md-4 col-sm-12 mb-3">
                <iframe src="{{ video.name }}" width="420" height="113"></iframe> 
            </div> 
            {% endfor %}
        </div>
      

    </div>

    {# Formulaire pour le commentaire #}
    {{ form_start(form, {'action': path('comment_new')}) }}
    {{ form_widget(form.content ) }}
    {{ form_widget(form.postId, {'value' : post.id} ) }}
    {{ form_end(form) }}

    {# Affichage des commentaires #}
    {% for comment in comments %}
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="card card-white post">
                        <div class="post-heading">
                            <div class="float-left image">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="float-left meta">
                                <div class="title h5">
                                    <a href="#"><b>{{ app.user.username }}</b></a>
                                    a publié un commentaire.
                                </div>
                                <h6 class="text-muted time">{{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>{{ comment.content }}</p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                                <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}

    <a href="{{ path('post_edit', {'slug': post.slug}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}

    {# On crée une boucle qui va de 0 au nombre de pages (total commentaires /limit commentaires) #}
    {% if pages > 0 %}
        {% for i in 0 .. pages %}
            <a href="{{ path('post_show_with_parameter_commentary', {'slug': post.slug, 'page': i}) }}">{{ i+1 }}</a>
            {# Si il y a un nombre de commentaires impairs, on crée une dernière page #}
            {# if (totalComments % limitComments > 0) and (i == (totalComments % limitComments) + 1) #}
                <!--<a href="{# path('post_show_with_parameter_commentary', {'slug': post.slug, 'page': i + 1}) }}">{{ i + 1 #}</a>!-->
            {# endif #}
        {% endfor %}
    {% endif %}
{% endblock %}
